* {
font-family: "Raleway";
color: white;
}
body {
background-color: rgb(35, 35, 35);
}
header {
height: 180px;
display: flex;
background-color: rgb(0, 122, 122);
text-align: center;
}
#logo {
flex: 3;
padding: auto;
}
img {
margin-top: 15px;
margin-left: -45%;
height: 80%;
width: auto;
}
#title {
flex: 8;
}
.content{
background-color: white;
padding-bottom: 50px;
margin: 20px 20px 30px 20px;
text-align: center;
}
nav {
text-align: left;
padding-top: 5%;
flex: 3;
}
a {
text-decoration: none;
padding-top: 45%;
width: 100%;
}
h1 {
font-size: 50px;
}
h2 {
font-weight: lighter;
font-size: 20px;
}
h3 {
color: rgb(0, 122, 122);
font-weight: lighter;
text-align: center;
line-height: 0px;
padding-top: 2%;
}
section {
margin: 30px 25% -40px 25%;
height: auto;
}
article {
padding: 0px 5px 5px 5px;
display: flex;
height: 170px;
}
span {
display: flex;
height: 170px;
filter: brightness(60%);
}
span:hover {
filter: brightness(100%);
}
#image1 {
background-image: url("img/image1.jpg");
background-size: cover;
flex: 1;
}
#image2 {
background-image: url("img/image2.jpg");
background-size: cover;
flex: 1;
margin-left: 5px;
}
#image3 {
background-image: url("img/image3.png");
background-size: cover;
background-color: rgba(0, 0, 0, 0.4);
flex: 1;
}
#image4 {
background-image: url("img/image4.jpg");
background-size: cover;
flex: 1;
margin-left: 5px;
}
p {
font-weight: lighter;
text-align: center;
margin: auto;
}
footer {
margin: 40px 5px 30px 5px;
padding: 0px 25% 0px 25%;
}
form {
display: flex
}
input[type=text] {
background-color: white;
border-radius: 3px;
height: 40px;
flex: 12;
margin-left: 10px;
color: grey;
}
button {
background-color: rgb(0, 120, 132);
border-radius: 3px;
margin-left: 10px;
margin-right: 10px;
height: 45px;
flex: 1;
font-size: 18px;
}
