* {
font-family: "Raleway";
color: white;
}
body {
background-color: rgb(35, 35, 35);
}
header {
height: 200px;
display: flex;
flex-direction: row;
background-color: rgb(0, 122, 122);
}
img {
margin-top: 10%;
margin-bottom: 15%;
margin-left: 2%;
flex: 1;
}
#title {
padding-left: 8%;
flex: 7;
text-align: center;
}
.content{
background-color: white;
padding-bottom: 50px;
margin: 20px 20px 30px 20px;
}
nav {
text-align: left;
padding-top: 5%;
flex: 3;
}
a {
text-decoration: none;
padding-top: 45%;
}
h1 {
font-size: 50px;
padding-top: 40px;
flex-grow: 1;
}
h2 {
font-weight: lighter;
font-size: 20px;
margin-top: -20px;
text-align: center;
}
h3 {
color: rgb(0, 122, 122);
font-weight: lighter;
text-align: center;
line-height: 0px;
padding-top: 2%;
}
section {
margin: 30px 30% -40px 25%;
height: auto;
}
article {
padding: 0px 5px 5px 5px;
display: flex;
height: 170px;
}
span {
display: flex;
height: 170px;
width: 100%;
font-size: auto;
text-align: center;
padding-left: 9%;
padding-right: 8%;
filter: brightness(60%);
}
span:hover {
filter: brightness(100%);
}
#image1 {
background-image: url("img/image1.jpg");
background-size: cover;
flex: 1;
}
#image2 {
background-image: url("img/image2.jpg");
background-size: cover;
flex: 1;
margin-left: 5px;
}
#image3 {
background-image: url("img/image3.png");
background-size: cover;
background-color: rgba(0, 0, 0, 0.4);
flex: 1;
}
#image4 {
background-image: url("img/image4.jpg");
background-size: cover;
flex: 1;
margin-left: 5px;
}
p {
font-weight: lighter;
text-align: center;
margin: auto;
}
footer {
margin: 40px 5px 30px 5px;
padding: 0px 30% 0px 25%;
}
form {
display: flex
}
#bar {
background-color: white;
border-radius: 3px;
height: 40px;
flex: 12;
margin-left: 10px;
color: grey;
}
#buton {
background-color: rgb(0, 120, 132);
border-radius: 3px;
margin-left: 10px;
margin-right: 10px;
height: 45px;
flex: 1;
font-size: 18px;
}
